<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Crypto Trader</title>
    <link rel="stylesheet" href="/public/css/spectre.min.css">
    <link rel="stylesheet" href="/public/css/trader.css">
  </head>
  <body>
    {{template "content" .}}
    <script src="/public/js/require.min.js"></script>
    <script src="/public/js/trader.js"></script>
  </body>
</html>
